<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Autor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Dragon Ball Z</td>
        <td>Shonen</td>
        <td>Akira Toriyama</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Shingeky no Kyojin</td>
        <td>Shonen</td>
        <td>Hajime Isayama</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nanatsu no Taizai</td>
        <td>Shonen</td>
        <td>Nakaba Suzuki</td>
      </tr>
    </tbody>
  </table>